body {
    width: 440px !important;
    max-width: 440px;
    display: flex;
    margin: auto;
    margin-top: 100px;
}

.container{
    padding: 20px;
    background-color: #d5d5d5;
    border: 1px solid #23231c;
    border-radius: 12px;
}

.w-100{
    width: 100% !important;
}

\\\.p-1{
    padding: 1px !important;
}

.h-40{
    height: 50px !important;
}

.dispalynum{
    padding: 8px;
    font-size: 22px;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid #c7c6c6;
}